@{
    Layout = null;
}

<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US">
    
<body>
    @*<div id="fb-root"></div>*@
    @*<script>
        window.fbAsyncInit = function () {
            FB.init({
                appId: '460497347351482', // App ID
                status: true, // check login status
                cookie: true, // enable cookies to allow the server to access the session
                xfbml: true  // parse XFBML
            });
        };

        // Load the SDK Asynchronously
        (function (d) {
            var js, id = 'facebook-jssdk'; if (d.getElementById(id)) { return; }
            js = d.createElement('script'); js.id = id; js.async = true;
            js.src = "//connect.facebook.net/en_US/all.js";
            d.getElementsByTagName('head')[0].appendChild(js);
        }(document));
    </script>*@

    
    @Html.ActionLink("Logout", "Logout", "Home")
    @Html.ActionLink("Post a new PR", "PostPr", "Admin")
    @Html.ActionLink("Post a new PR", "PostPr", "Admin")
    @Html.ActionLink("Post a new PR", "PostPr", "Admin")
    @Html.ActionLink("Post a new PR", "PostPr", "Admin")
    <span>Posted Result: @ViewBag.PostedResult</span>
</body>
</html>
