@{
    Layout = null;
}

<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US">
    
<body>

    <ul>
        <li>@Html.ActionLink("Logout", "Logout", "Home")</li>
        <li>@Html.ActionLink("Post a new PR", "PostPr", "Admin")</li>
        <li>@Html.ActionLink("Post a new Benchmark", "PostBenchmark", "Admin")</li>
        <li>@Html.ActionLink("Post a new Basic WOD", "PostABasicWod", "Admin")</li>
        <li>@Html.ActionLink("Post one of The Girls", "PostAGirl", "Admin")</li>
        <li>@Html.ActionLink("Post a new Hero WOD", "PostAHero", "Admin")</li>
        
    </ul>
 
    <span>Posted Result: @ViewBag.PostedResult</span>
</body>
</html>
