<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US"
xmlns:fb="https://www.facebook.com/2008/fbml">
    <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# everywod: http://ogp.me/ns/fb/everywod#">
        <meta charset="utf-8" />
        @RenderSection("meta", required: false)

        <title>@ViewBag.Title - My Crossfit Benchmarks</title>
        <link href="~/favicon.ico?v=2" rel="shortcut icon" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        
        @Styles.Render("~/Content/themes/base/css")
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <div class="wrapper">
        <div  class="container clear-top">
                <div class="navbar navbar-inverse navbar-static-top">
                    <div class="navbar-inner">

                            <ul class="nav">
                                <li class="@Html.IsActiveLink("Index","Home")">
                                    <a href="/"><i class="icon-home icon-white"></i> Home</a>
                                </li>

                                <li class="dropdown">
                                    <a class="dropdown-toggle" id="drop1" role="button" href="#" data-toggle="dropdown"><i class="icon-edit icon-white"></i> Tools <b class="caret"></b></a>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                        @Html.MenuLink("Summary","Index", "Dashboard")
                                        <li class="divider"></li>
                                        @Html.MenuLink("Benchmarks","Index", "Logger", new { @val = "benchmark" })
                                        @Html.MenuLink("The Girls","Index", "Logger", new { @val = "thegirls" })
                                        @Html.MenuLink("The Heros","Index", "Logger", new { @val = "theheros" })
                                        <li class="divider"></li>
                                        @Html.MenuLink("% Calculator","Index", "Calculator")
                                    </ul>
                                
                                </li>

                                <li class="dropdown">
                                    <a class="dropdown-toggle" id="drop2" role="button" href="#" data-toggle="dropdown">
                                       <i class="icon-user icon-white"></i>  <b class="caret"></b>
                                    </a>

                                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                        @Html.MenuLink("Profile","Profile", "Dashboard", new { @val = "benchmark" })
                                        @Html.MenuLink("Settings","Settings", "Dashboard", new { @val = "thegirls" })
                                        <li class="divider"></li>
                                        @Html.MenuLink("Sign Out","Logout", "Home")
                                    </ul>
                                </li>
                                
                            </ul>
                    </div>
                </div>
        

            <div class="row">

            <div class="span12">
                @RenderBody()
            </div>
            
            
            
            </div>
        </div>
        <div class="push"><!--//--></div>
            </div>
    @Html.Partial("footer")



        
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundles/crossfitbenchmarks")
        @RenderSection("scripts", required: false)
    </body>
</html>
