<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - My Crossfit Benchmarks</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        @Styles.Render("~/Content/themes/base/css")
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>

        <div class="container">
                <div class="navbar navbar-inverse navbar-static-top">
                    <div class="navbar-inner">
                        <div class="container">
                            <ul class="nav">
                                @Html.MenuLink("Home","Index","Home")
                                @Html.MenuLink("Benchmarks","Index", "Logger", new { @val = "benchmark" })
                                @Html.MenuLink("The Girls","Index", "Logger", new { @val = "thegirls" })
                                @Html.MenuLink("The Heros","Index", "Logger", new { @val = "theheros" })
                                @Html.MenuLink("% Calculator","Index", "Calculator")

                                @*<li>
                                    <a href="home">Home</a></li>
                                <li>
                                    <a href='@Url.Action("Index", "Logger", new { @val = "benchmark" })'>Benchmarks</a></li>
                                <li>
                                    <a href="@Url.Action("Index", "Logger", new { @val = "thegirls" })">The Girls</a></li>
                                <li>
                                    <a href="@Url.Action("Index", "Logger", new { @val = "theheros" })">The Heros</a></li>
                                <li>
                                    <a href="@Url.Action("Index", "Calculator")" >% Calculator</a></li>*@
                            </ul>
                        </div>
                    </div>
                </div>
        

            <div class="row">

            
            @RenderSection("featured", required: false)
            
            @RenderBody()
            
            </div>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundles/crossfitbenchmarks")
        @RenderSection("scripts", required: false)
    </body>
</html>
